<!DOCTYPE html>
<html lang="en">
{% include 'layouts/site/head.html.twig' %}
<title>HOME</title>
<body>
<div class="container-xxl bg-white p-0">
        {% include 'layouts/site/spinner.html.twig' %}
        {% include 'layouts/site/navbar.html.twig' %}
        {% include 'layouts/site/feature.html.twig' %}
        {% include 'layouts/site/about.html.twig' %}
        {% include 'layouts/site/fact.html.twig' %}
         {% include 'layouts/site/service.html.twig' %}
         {% include 'layouts/site/newsletter.html.twig' %}
         {% include 'layouts/site/testimonial.html.twig' %}
         {% include 'layouts/site/team.html.twig' %}
        {% include 'layouts/site/footer.html.twig' %}
        {% include 'layouts/site/backToTop.html.twig' %}
    </div>
 {% include 'layouts/site/js.html.twig' %}
</body>

</html>