<!-- Feature Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-bars text-primary mb-4"></i>
                            <h5 class="mb-3">GESTION DES CATÉGORIES</h5>
                            <p class="m-0">
                            Vous avez la possibilité de créer des catégories pour les affecter à des produits.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-shopping-bag text-primary mb-4"></i>
                            <h5 class="mb-3">GESTION DES PRODUITS</h5>
                            <p class="m-0">
                            Vous avez la possibilité de créer des produits en fonction de chaque catégories.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                            <h5 class="mb-3">GESTION DES ENTRÉES ET SORTIES</h5>
                            <p class="m-0">
                            Vous avez la possibilité de faire état de la quantité de chaque produit entré ou sorti.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->