<!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <p class="section-title text-secondary justify-content-center"><span></span>TÉMOIGNAGES<span></span></p>
                <h1 class="text-center mb-5">Que Disent Nos Clients !</h1>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>
                        Je suis très satisfaite cette plateforme et depuis j'arrive à mieux gérer mon stock.
                        </p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{{asset('../site/img/testimonial-1.jpg')}}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">Anne</h5>
                                <span>Commercante</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>
                        Depuis que j'utilise cette plateforme je n'ai plus comptabilisé de pertes.
                        </p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{{asset('../site/img/testimonial-2.jpg')}}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">Marc</h5>
                                <span>Fournisseur</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>
                        Félicitations pour cette initiative continuez sur cette lancée.
                        </p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{{asset('../site/img/testimonial-3.jpg')}}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">Dominique</h5>
                                <span>Gestionnaire</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->